@{
    ViewBag.Title = "GLOCSE - Subestaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="wrapper">
    <div class="topbar">
        <div class="topbar-left">
            <div class="text-center">
                <a href="index.html" class="logo"><i class="icon-magnet icon-c-logo"></i><span>GL<i class="md md-album"></i>CSE</span></a>
            </div>
        </div>

        <div class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="">
                    <div class="pull-left">
                        <button class="button-menu-mobile open-left waves-effect waves-light">
                            <i class="md md-menu"></i>
                        </button>
                        <span class="clearfix"></span>
                    </div>

                    <ul class="nav navbar-nav hidden-xs">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle waves-effect waves-light" data-toggle="dropdown"
                               role="button" aria-haspopup="true" aria-expanded="false">
                                Options<span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li id="LimitarMapa"><a href="#"><image src='https://k61.kn3.net/C/0/A/6/6/3/879.png' class="thumb-sm"></image>Limit Map</a></li>
                                <li id="DeslimitarMapa"><a href="#"><image src='https://k61.kn3.net/0/7/5/9/A/4/E20.png' class="thumb-sm"></image>Remove Limitation</a></li>
                                <li id="Procesar"><a href="#"><image src='https://k61.kn3.net/D/5/0/7/3/D/641.png' class="thumb-sm"></image>Process Ellipse</a></li>

                                <li id="GuardarEspacioTrabajo"><a href="#"><image src='https://k61.kn3.net/9/5/C/8/4/4/80C.png' class="thumb-sm"></image>Save Workspaces</a></li>

                                <li id="graficamontaña"><a href="#"><image src='https://k61.kn3.net/D/9/8/3/6/4/E05.png' class="thumb-sm"></image>Normal Area</a></li>

                                <li id="graficaconsumidores"><a href="#"><image src='https://k60.kn3.net/0/7/F/5/7/7/265.png' class="thumb-sm"></image>Generate Consumer Charts</a></li>

                                <!--     *************************************************     ID PARA PIN DE PRUEBA  ****************************************************************************************************-->
                                <li id="PinDePrueba"><a href="#"><image src='https://k61.kn3.net/1/A/0/5/4/3/DFB.png' class="thumb-sm"></image>Test Pin</a></li>
                                <li><a href="#"><image src='https://k61.kn3.net/8/2/2/4/9/C/A35.png' class="thumb-sm"></image>Save project</a></li>
                                <!--     *************************************************     ID PARA GEOLOCALIZACION ****************************************************************************************************-->
                                <li id="Geolocalizacion"><a href="#"><image src='https://k61.kn3.net/2/7/2/C/9/8/8EA.png' class="thumb-sm"></image>Geolocation</a></li>
                                <li><a href="#"><image src='https://k61.kn3.net/D/0/1/4/F/1/8B0.png' class="thumb-sm"></image>Bookmark my current location</a></li>
                                <li id="Reiniciar"><a href="#"><image src='https://k61.kn3.net/2/B/F/5/B/4/B74.png' class="thumb-sm"></image>Restart</a></li>
                            </ul>
                        </li>
                    </ul>

                    <form class="navbar-left app-search pull-left hidden-xs">
                        <input id="BusquedaLugar" type="text" placeholder="Location / Coordinate" class="form-control">
                        <a href=""><i class="fa fa-search"></i></a>
                    </form>


                    <ul class="nav navbar-nav navbar-right pull-right">
                        <li class="hidden-xs">
                            <a href="#" id="btn-Geolocalization" class="waves-effect waves-light"><i class="./assets/images/map"></i></a>
                        </li>
                        <li class="hidden-xs">
                            <a href="#" id="btn-fullscreen" class="waves-effect waves-light"><i class="icon-size-fullscreen"></i></a>
                        </li>
                        <li class="hidden-xs">
                            <a href="#" class="right-bar-toggle waves-effect waves-light"><i class="icon-settings"></i></a>
                        </li>
                        <li class="dropdown top-menu-item-xs">
                            <a href="" class="dropdown-toggle profile waves-effect waves-light" data-toggle="dropdown" aria-expanded="true"><img src="https://ih0.redbubble.net/image.120558680.3136/flat,800x800,075,f.u3.jpg" alt="user-img" class="img-circle"> </a>
                            <ul class="dropdown-menu">
                                <li><a href="javascript:void(0)"><i class="ti-settings m-r-10 text-custom"></i> Configuración</a></li>
                                <li class="divider"></li>
                                <li><a href="javascript:void(0)"><i class="ti-power-off m-r-10 text-danger"></i>Cerrar Sesión</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>





    <div class="left side-menu">
        <div class="sidebar-inner slimscrollleft">
            <div id="sidebar-menu">
                <ul>

                    <li class="text-muted menu-title">System Options</li>

                    <li class="has_sub">
                        <a href="javascript:void(0);" class="waves-effect"><i class=" icon-map"></i> <span> Map </span> <span class="menu-arrow"></span></a>
                        <ul>
                            <li class="has_sub">
                                <a href="javascript:void(0);" id="sb_googlemaps" class="waves-effect"><i class=" icon-location-pin"></i> <span> Google Maps </span></a>
                            </li>                            
                        </ul>
                    </li>



                    <li class="has_sub">
                        <a href="javascript:void(0);" id="sb_graficas" class="waves-effect"><i class=" icon-graph"></i><span> Graphics </span></a>
                    </li>

                    <li class="has_sub">
                        <a href="javascript:void(0);" id="sb_reportes" class="waves-effect"><i class=" icon-notebook"></i><span> Reports </span></a>
                    </li>


                    <li class="has_sub">
                        <a id="sb_proyecciones" href="javascript:void(0);" class="waves-effect"><i class=" icon-layers"></i><span id="Proyecciones"> Projections</span></a>
                    </li>

                    <li class="has_sub">
                        <a id="sb_configuracion" href="javascript:void(0);" class="waves-effect"><i class=" icon-settings"></i><span> Configuration</span></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>





    <div class="content-page">

        <div class="content">
            <div class="container">

                <div class="row">
                    <div class="col-sm-12">
                        <div class="btn-group pull-right m-t-15">
                            <button id="botonactiva" type="button" class="btn btn-default dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false">Projection 1<span class="m-l-5"><i class=" fa fa-get-pocket"></i></span></button>
                            <ul class="dropdown-menu drop-menu-right" role="menu">
                                <li id="VerProyeccion1"><a href="#">Projection 1</a></li>
                                <li id="VerProyeccion2"><a href="#">Projection 2</a></li>
                                <li id="VerProyeccion3"><a href="#">Projection 3</a></li>
                            </ul>
                        </div>

                        <h4 class="page-title">Project</h4>
                        <p class="text-muted page-title-alt">Managua Electricity Substation</p>
                    </div>
                </div>


                <div id="containermapa">
                    <div class="row" id="Rowmapa">
                        <div id="Mapa"></div>
                        <div id="ContenedorEmergente">

                            <div class="container" id="rowcabezera">
                                <div class="row">
                                    <div class="row">
                                        <div class="col-xs-12"><h3 id="ctitulo" class="textocontenedor">Consumidor A</h3></div>
                                        <i id="guardarcontenedor" class=" icon-pin" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-6">
                                    <h3 class="textoinfo">Latitud</h3>
                                </div>
                                <div class="col-xs-6">
                                    <input id="clatitud" type="text" class="textboxcontenedor">
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-xs-6">
                                    <h3 class="textoinfo">Longitud</h3>
                                </div>
                                <div class="col-xs-6">
                                    <input id="clongitud" type="text" class="textboxcontenedor">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-6">
                                    <h3 class="textoinfo">Coordenada</h3>
                                </div>
                                <div class="col-xs-6">
                                    <input id="ccoordenadas" type="text" class="textboxcontenedor">
                                </div>
                            </div>


                            <div class="row" id="rowcategoria">
                                <div class="col-xs-6">
                                    <h3 class="textoinfo">Categoria</h3>
                                </div>
                                <div class="col-xs-6" id="colcheckbox">


                                    <div class="CheckboxContenedor" data-role="none">

                                        <label data-role="none">
                                            <input data-role="none" type="radio" class="CheckBoxVerde" id="Cat1CentroEventual" checked="" name="Categoria"> 1
                                        </label>

                                        <label data-role="none">
                                            <input data-role="none" type="radio" class="CheckBoxVerde" id="Cat2CentroEventual" name="Categoria">2
                                        </label>

                                        <label data-role="none">
                                            <input data-role="none" type="radio" class="CheckBoxVerde" id="Cat3CentroEventual" name="Categoria">3
                                        </label>

                                    </div>

                                </div>
                            </div>


                            <div class="row" id="rowtabla">
                                <div class="col-xs-16">
                                    <div class="table-responsive">
                                        <table id="tablapotencias" contenteditable="true" class="table table-bordered m-0">
                                            <thead>
                                                <tr>

                                                    <th>1</th>
                                                    <th>2</th>
                                                    <th>3</th>
                                                    <th>4</th>
                                                    <th>5</th>
                                                    <th>6</th>
                                                    <th>7</th>
                                                    <th>8</th>
                                                    <th>9</th>
                                                    <th>10</th>
                                                    <th>11</th>
                                                    <th>12</th>
                                                    <th>13</th>
                                                    <th>14</th>
                                                    <th>15</th>
                                                    <th>16</th>
                                                    <th>17</th>
                                                    <th>18</th>
                                                    <th>19</th>
                                                    <th>20</th>
                                                    <th>21</th>
                                                    <th>22</th>
                                                    <th>23</th>
                                                    <th>24</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>

                                                    <td>?</td>
                                                    <td>?</td>
                                                    <td>?</td>
                                                    <td>?</td>
                                                    <td>?</td>
                                                    <td>?</td>
                                                    <td>?</td>
                                                    <td>?</td>
                                                    <td>?</td>
                                                    <td>?</td>
                                                    <td>?</td>
                                                    <td>?</td>
                                                    <td>?</td>
                                                    <td>?</td>
                                                    <td>?</td>
                                                    <td>?</td>
                                                    <td>?</td>
                                                    <td>?</td>
                                                    <td>?</td>
                                                    <td>?</td>
                                                    <td>?</td>
                                                    <td>?</td>
                                                    <td>?</td>
                                                    <td>?</td>

                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>


                    <div class="row" id="canvasfiguras">
                        <div class="col-lg-16">
                            <div class="card-box" id="contenedorpoligonos">
                                <h4 class="text-dark header-title m-t-0">Figuras Geometricas</h4>
                                <div id="thumbs">
                                    <img src="https://k61.kn3.net/F/9/B/C/F/6/CDB.png" alt="" width="50" height="50" /></a>
                                    <img src="https://k60.kn3.net/D/4/5/4/4/5/491.png" alt="" width="50" height="50" /></a>
                                    <img src="https://k60.kn3.net/D/C/7/8/7/1/244.png" alt="" width="50" height="50" /></a>
                                    <img src="https://k61.kn3.net/0/B/F/C/0/D/1D7.png" alt="" width="50" height="50" /></a>
                                    <img src="https://k60.kn3.net/D/C/7/8/7/1/244.png" alt="" width="50" height="50" /></a>
                                    <img src="https://k60.kn3.net/C/9/A/8/E/F/D71.png" alt="" width="50" height="50" /></a>
                                    <img src="https://k61.kn3.net/8/9/4/D/2/F/2C9.png" alt="" width="50" height="50" /></a>
                                    <img src="https://k60.kn3.net/5/C/E/3/2/2/536.png" alt="" width="50" height="50" /></a>
                                    <img src="https://k61.kn3.net/1/1/3/0/7/B/6A1.png" alt="" width="50" height="50" /></a>
                                    <span class="stretch"></span>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" id="Rowmontaña">
                        <div class="col-lg-16">

                            <div class="card-box">
                                <h4 class="text-dark header-title m-t-0">3D projection of the ellipse (P1) </h4>
                                <div id="montaña1" style="height: 303px;"></div>
                            </div>
                        </div>
                    </div>


                    <div class="row" id="Rowmontaña2">
                        <div class="col-lg-16">

                            <div class="card-box">
                                <h4 class="text-dark header-title m-t-0">3D projection of the ellipse (P2) </h4>
                                <div id="montaña2" style="height: 303px;"></div>
                            </div>
                        </div>
                    </div>


                    <div class="row" id="Rowmontaña3">
                        <div class="col-lg-16">

                            <div class="card-box">
                                <h4 class="text-dark header-title m-t-0">3D projection of the ellipse (P3) </h4>
                                <div id="montaña3" style="height: 303px;"></div>
                            </div>
                        </div>
                    </div>
                </div>



                <div id="containergraficas">

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="portlet">
                                <div class="portlet-heading">

                                    <h3 class="portlet-title text-dark">
                                        Consumer A
                                    </h3>
                                    <div class="portlet-widgets">
                                        <a href="javascript:;" data-toggle="reload"><i class="ion-refresh"></i></a>
                                        <span class="divider"></span>
                                        <a data-toggle="collapse" data-parent="#accordion1" href="#portlet1"><i class="ion-minus-round"></i></a>
                                        <span class="divider"></span>
                                        <a href="#" data-toggle="remove"><i class="ion-close-round"></i></a>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div id="portlet1" class="panel-collapse collapse in">
                                    <div class="portlet-body">
                                        <canvas id="GraficaA" style="height: 320px;" class="flot-chart"></canvas>

                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="portlet">
                                <div class="portlet-heading">

                                    <h3 class="portlet-title text-dark">
                                          Consumer B
                                    </h3>
                                    <div class="portlet-widgets">
                                        <a href="javascript:;" data-toggle="reload"><i class="ion-refresh"></i></a>
                                        <span class="divider"></span>
                                        <a data-toggle="collapse" data-parent="#accordion1" href="#portlet2"><i class="ion-minus-round"></i></a>
                                        <span class="divider"></span>
                                        <a href="#" data-toggle="remove"><i class="ion-close-round"></i></a>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div id="portlet2" class="panel-collapse collapse in">
                                    <div class="portlet-body">
                                        <canvas id="GraficaB" style="height: 320px;" class="flot-chart"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="portlet">
                                <div class="portlet-heading">
                                    <h3 class="portlet-title text-dark">
                                        Consumer C
                                    </h3>
                                    <div class="portlet-widgets">
                                        <a href="javascript:;" data-toggle="reload"><i class="ion-refresh"></i></a>
                                        <span class="divider"></span>
                                        <a data-toggle="collapse" data-parent="#accordion1" href="#portlet3"><i class="ion-minus-round"></i></a>
                                        <span class="divider"></span>
                                        <a href="#" data-toggle="remove"><i class="ion-close-round"></i></a>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div id="portlet3" class="panel-collapse collapse in">
                                    <div class="portlet-body">
                                        <div id="donut-chart">
                                            <canvas id="GraficaC" class="flot-chart" style="height: 320px;"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="portlet">
                                <div class="portlet-heading">
                                    <h3 class="portlet-title text-dark">
                                        Consumer D
                                    </h3>
                                    <div class="portlet-widgets">
                                        <a href="javascript:;" data-toggle="reload"><i class="ion-refresh"></i></a>
                                        <span class="divider"></span>
                                        <a data-toggle="collapse" data-parent="#accordion1" href="#portlet4"><i class="ion-minus-round"></i></a>
                                        <span class="divider"></span>
                                        <a href="#" data-toggle="remove"><i class="ion-close-round"></i></a>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div id="portlet4" class="panel-collapse collapse in">
                                    <div class="portlet-body">
                                        <div id="pie-chart">
                                            <canvas id="GraficaD" style="height: 320px;" class="flot-chart"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>



                    <div class="row">
                        <div class="col-lg-12">
                            <div class="portlet">
                                <div class="portlet-heading">
                                    <h3 class="portlet-title text-dark">
                                        Consumer E
                                    </h3>
                                    <div class="portlet-widgets">
                                        <a href="javascript:;" data-toggle="reload"><i class="ion-refresh"></i></a>
                                        <span class="divider"></span>
                                        <a data-toggle="collapse" data-parent="#accordion1" href="#portlet3"><i class="ion-minus-round"></i></a>
                                        <span class="divider"></span>
                                        <a href="#" data-toggle="remove"><i class="ion-close-round"></i></a>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div id="portlet3" class="panel-collapse collapse in">
                                    <div class="portlet-body">
                                        <div id="donut-chart">
                                            <canvas id="GraficaE" style="height: 320px;" class="flot-chart"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="portlet">
                                <div class="portlet-heading">
                                    <h3 class="portlet-title text-dark">
                                        Consumer F
                                    </h3>
                                    <div class="portlet-widgets">
                                        <a href="javascript:;" data-toggle="reload"><i class="ion-refresh"></i></a>
                                        <span class="divider"></span>
                                        <a data-toggle="collapse" data-parent="#accordion1" href="#portlet4"><i class="ion-minus-round"></i></a>
                                        <span class="divider"></span>
                                        <a href="#" data-toggle="remove"><i class="ion-close-round"></i></a>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div id="portlet4" class="panel-collapse collapse in">
                                    <div class="portlet-body">
                                        <div id="pie-chart">
                                            <canvas id="GraficaF" style="height: 320px;" class="flot-chart"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                    <div class="row">
                        <div class="col-lg-12">
                            <div class="portlet">
                                <div class="portlet-heading">
                                    <h3 class="portlet-title text-dark">
                                        Consumer G
                                    </h3>
                                    <div class="portlet-widgets">
                                        <a href="javascript:;" data-toggle="reload"><i class="ion-refresh"></i></a>
                                        <span class="divider"></span>
                                        <a data-toggle="collapse" data-parent="#accordion1" href="#portlet3"><i class="ion-minus-round"></i></a>
                                        <span class="divider"></span>
                                        <a href="#" data-toggle="remove"><i class="ion-close-round"></i></a>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div id="portlet3" class="panel-collapse collapse in">
                                    <div class="portlet-body">
                                        <div id="donut-chart">
                                            <canvas id="GraficaG" style="height: 320px;" class="flot-chart"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="portlet">
                                <div class="portlet-heading">
                                    <h3 class="portlet-title text-dark">
                                        Consumer H
                                    </h3>
                                    <div class="portlet-widgets">
                                        <a href="javascript:;" data-toggle="reload"><i class="ion-refresh"></i></a>
                                        <span class="divider"></span>
                                        <a data-toggle="collapse" data-parent="#accordion1" href="#portlet4"><i class="ion-minus-round"></i></a>
                                        <span class="divider"></span>
                                        <a href="#" data-toggle="remove"><i class="ion-close-round"></i></a>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div id="portlet4" class="panel-collapse collapse in">
                                    <div class="portlet-body">
                                        <div id="pie-chart">
                                            <canvas id="GraficaH" style="height: 320px;" class="flot-chart"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                    <div class="row">
                        <div class="col-lg-12">
                            <div class="portlet">
                                <div class="portlet-heading">
                                    <h3 class="portlet-title text-dark">
                                        Consumer I
                                    </h3>
                                    <div class="portlet-widgets">
                                        <a href="javascript:;" data-toggle="reload"><i class="ion-refresh"></i></a>
                                        <span class="divider"></span>
                                        <a data-toggle="collapse" data-parent="#accordion1" href="#portlet3"><i class="ion-minus-round"></i></a>
                                        <span class="divider"></span>
                                        <a href="#" data-toggle="remove"><i class="ion-close-round"></i></a>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div id="portlet3" class="panel-collapse collapse in">
                                    <div class="portlet-body">
                                        <div id="donut-chart">
                                            <canvas id="GraficaI" style="height: 320px;" class="flot-chart"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="portlet">
                                <div class="portlet-heading">
                                    <h3 class="portlet-title text-dark">
                                        Consumer J
                                    </h3>
                                    <div class="portlet-widgets">
                                        <a href="javascript:;" data-toggle="reload"><i clss="ion-refresh"></i></a>
                                        <span class="divider"></span>
                                        <a data-toggle="collapse" data-parent="#accordion1" href="#portlet4"><i class="ion-minus-round"></i></a>
                                        <span class="divider"></span>
                                        <a href="#" data-toggle="remove"><i class="ion-close-round"></i></a>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div id="portlet4" class="panel-collapse collapse in">
                                    <div class="portlet-body">
                                        <div id="pie-chart">
                                            <canvas id="GraficaJ" style="height: 320px;" class="flot-chart"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>



                    <div class="row">

                        <div class="col-lg-12">
                            <div class="portlet">
                                <div class="portlet-heading">
                                    <h3 class="portlet-title text-dark">
                                        Total Power
                                    </h3>
                                    <div class="portlet-widgets">
                                        <a href="javascript:;" data-toggle="reload"><i class="ion-refresh"></i></a>
                                        <span class="divider"></span>
                                        <a data-toggle="collapse" data-parent="#accordion1" href="#portlet7"><i class="ion-minus-round"></i></a>
                                        <span class="divider"></span>
                                        <a href="#" data-toggle="remove"><i class="ion-close-round"></i></a>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div id="portlet7" class="panel-collapse collapse in">
                                    <div class="portlet-body">
                                        <canvas id="myChartTOTAL" style="height: 320px;" class="flot-chart"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>




                    <div class="form-group">
                        <label class="col-md-4 control-label" for="singlebutton"></label>
                        <div class="col-md-4 center-block">
                            <button id="reporte" name="singlebutton" class="btn btn-danger center-block">
                                <i class="fa fa-file-text" aria-hidden="true"></i>
                                Generate report
                            </button>

                        </div>
                    </div>



                </div>
                <div id="containerreportes">
                    <div class="row">
                        <div class="col-lg-3 col-sm-6">
                            <div class="widget-panel widget-style-2 bg-white">
                                <i class=" md-account-child" id="icousuario"></i>
                                <h2 id="cargasproyeccion" class="m-0 text-dark counter font-600">2 / 10</h2>
                                <div class="text-muted m-t-5">Charges</div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="widget-panel widget-style-2 bg-white">
                                <i class=" md-gps-fixed" id="icocentroseventuales"></i>
                                <h2 id="centrosproyeccion" class="m-0 text-dark counter font-600">1 / 24</h2>
                                <div class="text-muted m-t-5">Centers</div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="widget-panel widget-style-2 bg-white">
                                <i class=" md-panorama-horizontal" id="icoancho"></i>
                                <h2 id="Radiox" class="m-0 text-dark counter font-600">18</h2>
                                <div class="text-muted m-t-5">Radius X</div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="widget-panel widget-style-2 bg-white">
                                <i class=" md-panorama-vertical" id="icolargo"></i>
                                <h2 id="Radioy" class="m-0 text-dark counter font-600">8564</h2>
                                <div class="text-muted m-t-5">Radius Y</div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12" id="paddingfaltante">
                            <div class="card-box">
                                <h4 class="m-t-0 header-title"><b>Table of electrical loads</b></h4>
                                <p class="text-muted m-b-30 font-13">
                                    List of all the loads present in the projection and their characteristics
                                </p>

                                <table id="demo-foo-filtering" class="table table-striped toggle-circle m-b-0" data-page-size="6">
                                    <thead>
                                        <tr>
                                            <th data-toggle="true">Charge</th>
                                            <th>Category</th>
                                            <th data-hide="phone">Cx</th>
                                            <th data-hide="phone, tablet">Cy</th>
                                            <th data-hide="phone, tablet">Latitude</th>
                                            <th data-hide="phone, tablet">Longitude</th>
                                            <th data-hide="phone, tablet">Map</th>
                                        </tr>
                                    </thead>
                                    <tbody id="cuerpotablaconsumidores"></tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card-box">
                                    <h4 class="m-t-0 header-title"><b>Table of possible centres</b></h4>
                                    <p class="text-muted m-b-30 font-13">
                                        List of all 24 possible centres present on the map with their characteristics.</p>
                                    <table id="demo-foo-addrow" class="table table-striped toggle-circle m-b-0" data-page-size="6">
                                        <thead>
                                            <tr>
                                                <th data-toggle="true">Charge</th>
                                                
                                                <th data-hide="phone">Cx</th>
                                                <th data-hide="phone, tablet">Cy</th>
                                                <th data-hide="phone, tablet">Latitude</th>
                                                <th data-hide="phone, tablet">Longitude</th>
                                                <th data-hide="phone, tablet">Map</th>
                                            </tr>
                                        </thead>
                                        <tbody id="cuerpotablacentroseventuales"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <!-- Tabla Potencia -->

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card-box">
                                    <h4 class="m-t-0 header-title"><b>Power table</b></h4>
                                    <p class="text-muted m-b-30 font-13" id="textomargen">
                                        Data of the powers per consumer including the value , the total sum of powers ,the minimum, average and maximum value per consumer.
                                    <</p>
                                    <table id="tablaconsumidores" class="table table-striped toggle-circle m-b-0" data-page-size="14">
                                        <thead>
                                            <tr>
                                                <th data-toggle="true">Hour</th>
                                                <th data-hide="phone">A</th>
                                                <th data-hide="phone, tablet">B</th>
                                                <th data-hide="phone, tablet">C</th>
                                                <th data-hide="phone, tablet">D</th>
                                                <th data-hide="phone, tablet">E</th>
                                                <th data-hide="phone, tablet">F</th>
                                                <th data-hide="phone, tablet">G</th>
                                                <th data-hide="phone, tablet">H</th>
                                                <th data-hide="phone, tablet">I</th>
                                                <th data-hide="phone, tablet">J</th>
                                                <th data-hide="phone, tablet">Summation</th>
                                                <th data-hide="phone, tablet">Min</th>
                                                <th data-hide="phone, tablet">Average</th>
                                                <th data-hide="phone, tablet">Max</th>
                                            </tr>
                                        </thead>
                                </div>
                                <tbody id="tablapotenicas24"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-lg-6">
                            <div class="card-box">
                                <h4 class="m-t-0 header-title"><b>Procedural variables</b></h4>
                                <p class="text-muted m-b-30 font-13">
                                    Value of the variables that were used to calculate the center of the ellipse for the current projection.
                                </p>

                                <span id="VDx" ">Dx</span>
                                <br>
                                <span id="VDy" ">Dy</span>
                                <br>
                                <span id="VSigmax" ">SigmaX</span>
                                <br>
                                <span id="VSigmay" ">SigmaY</span>
                                <br>
                                <span id="VHx" ">Hx</span>
                                <br>
                                <span id="VHy" ">Hy</span>
                                <br>
                                <span id="VAx" ">Ax</span>
                                <br>
                                <span id="VAy" ">Ay</span>
                                <br>
                                <span id="VCxy" ">Cxy</span>
                                <br>
                                <span id="Vr" ">r</span>
                                <br>
                                <span id="VAngulo" ">Alfa</span>
                                <br>
                                <span id="VFhiSigma" ">FhiSigma</span>
                                <br>
                                <span id="VPhiSigma" ">PhiSigma</span>
                                <br>
                                <span id="VFhiExactitud" ">FhiExactitud</span>
                                <br>
                                <span id="VPhiExactitud" ">PhiExactitud</span>
                                <br>
                                <span id="VFhiRadio" ">FhiRadio</span>
                                <br>
                                <span id="VPhiRadio" ">PhiRadio</span>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="card-box">
                                <h4 class="m-t-0 header-title"><b>Projection variables</b></h4>
                                <p class="text-muted m-b-30 font-13">
                                    Variables used in the map to calculate certain components of the ellipse of the projection that is currently active.
                                </p>

                                <h3 class="informacion" id="CMapaLatitud">Centre of the map (Latitude) : ?</h3>
                                <br>
                                <h3 class="informacion" id="CMapaLongitud">Center of the map (Longitude) : ?</h3>
                                <br>
                                <h3 class="informacion" id="CMapaCentroX">Center of the map (Cx) : ?</h3>
                                <br>
                                <h3 class="informacion" id="CMapaCentroY">Center of the map (Cy) : ?</h3>
                                <br>
                                <h3 class="informacion" id="CElipseLatitud">Elipse Centre (Latitude) : ?</h3>
                                <br>
                                <h3 class="informacion" id="CElipseLongitud">Elipse Centre (Longitude) : ?</h3>
                                <br>
                                <h3 class="informacion" id="CElipseX">Elipse Centre (Cx) : ?</h3>
                                <br>
                                <h3 class="informacion" id="CElipseY">Elipse Centre (Cy) : ?</h3>
                                <br>
                                <h3 class="informacion" id="CElipseArea">Ellipse Area  : ? </h3>
                                <br>
                                <h3 class="informacion" id="CGuia">Type of guide : Google Maps</h3>
                                <br>
                                <h3 class="informacion" id="CEscala">X-Scale : ? </h3>
                                <br>
                                <h3 class="informacion" id="CEscalaY">Y-Scale  : ? </h3>
                                <br>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


            <div id="containerproyecciones">

                <div class="row">
                    <div class="col-sm-12" id="col">
                        <div class="card-box widget-inline">
                            <div class="row">
                                <div class="col-lg-3 col-sm-6">
                                    <div class="widget-inline-box text-center">
                                        <h3><i id="icoproyeccion1" class="text-pink md md-account-child"></i> <b id="Proyeccion1"> 0 / 10</b></h3>
                                        <h4 class="text-muted">Projection 1 Consumers</h4>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-sm-6">
                                    <div class="widget-inline-box text-center">
                                        <h3><i id="icoproyeccion2" class="text-pink md md-account-child"></i><b id="Proyeccion2"> 0 / 10 </b></h3>
                                        <h4 class="text-muted">Projection 2 Consumers</h4>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-sm-6">
                                    <div class="widget-inline-box text-center">
                                        <h3><i id="icoproyeccion3" class="text-pink md md-account-child"></i><b id="Proyeccion3">  0 / 10</b></h3>
                                        <h4 class="text-muted">Projection 3 Consumers</h4>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-sm-6">
                                    <div class="widget-inline-box text-center b-0">
                                        <h3><i id="icoproyeccion4" class="text-pink md md-account-child"></i><b id="TotalCEC"> 0 / 30 </b></h3>
                                        <h4 class="text-muted">Final Projection</h4>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6" id="paddingfaltante">
                        <div class="card-box">
                            <h4 class="m-t-0 header-title"><b>Workspaces of the current projection</b></h4>
                            <p class="text-muted m-b-30 font-13">
                                Here you can restore a workspace that you have previously saved from the map or plane.
                            </p>

                            <table id="tablaespaciostrabajo" class="table table-striped toggle-circle m-b-0" data-page-size="2">
                                <thead>
                                    <tr>
                                        <th data-toggle="true">ID</th>
                                        <th data-hide="phone">Restore</th>
                                    </tr>
                                </thead>
                                <tbody id="cuerpoEspacioTrabajo"></tbody>
                            </table>
                        </div>
                    </div>



                    <div class="col-sm-6" id="paddingfaltante">
                        <div class="card-box">
                            <h4 class="m-t-0 header-title"><b>Electrical Substation Location Test Marker</b></h4>
                            <p class="text-muted m-b-30 font-13">
                                User-set test marker information This information includes whether the pin is located in a suitable place for the creation of the test marker.
                            </p>

                            <!-------------------------------------------------------AÑADIENDO ID(S) PARA LA ASIGNACION DE VALORES---------------------------------------------------->
                            <h3 id="LatitudMP" class="informacion">Latitude : ?</h3>
                            <br>
                            <h3 id="LongitudMP" class="informacion">Longitude : ?</h3>
                            <br>
                            <h3 id="XMP" class="informacion">X : ?</h3>
                            <br>
                            <h3 id="YMP" class="informacion">Y : ?</h3>
                            <br>
                            <h3 id="IntersectaP1MP" class="informacion">Intersect with Ellipse P1 : ?</h3>
                            <br>
                            <h3 id="IntersectaP2MP" class="informacion">Intersect with Ellipse P2 : ?</h3>
                            <br>
                            <h3 id="IntersectaP3MP" class="informacion">Intersect with Ellipse P3 : ?</h3>
                            <br>
                            <h3 id="OptimaMP" class="informacion">Is the marker in the optimum zone? : ?</h3>
                            <br>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="card-box">
                            <h4 class="m-t-0 header-title"><b>Data of the ellipses</b></h4>
                            <p class="text-muted m-b-30 font-13">
                                Complete information of the ellipses formed by all the projections made by the user
                            </p>

                            <!-------------------------------------------------------AÑADIENDO ID(S) PARA LA ASIGNACION DE VALORES---------------------------------------------------->
                            <h3 id="PCentroP1" class="informacion">Centre Ellipse P1 : ?</h3>
                            <br>
                            <h3 id="PCentroP2" class="informacion">Centre Ellipse P2 : ?</h3>
                            <br>
                            <h3 id="PCentroP3" class="informacion">Centre Ellipse P3 : ?</h3>
                            <br>
                            <h3 id="PInterseccionP1P2" class="informacion">Intercepts Ellipse P1 and P2 : ?</h3>
                            <br>
                            <h3 id="PInterseccionP1P3" class="informacion">Intercepts Ellipse P1 and P3 : ?</h3>
                            <br>
                            <h3 id="PInterseccionP2P3" class="informacion">Intercepts Ellipse P2 and P3 : ?</h3>
                            <br>
                            <h3 id="PAreaP1" class="informacion">Ellipse P1 Area : ?</h3>
                            <br>
                            <h3 id="PAreaP2" class="informacion">Ellipse P2 Area : ?</h3>
                            <br>
                            <h3 id="PAreaP3" class="informacion">Ellipse P3 Area : ?</h3>
                            <br>
                            <h3 id="PCentroOptimo" class="informacion">Optimal zone : ?</h3>
                            <br>
                        </div>
                    </div>

                </div> <!-- container -->

            </div>

            <div id="containerconfiguracion">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="card-box">
                            <h4 class="m-t-0 header-title"><b>Marker and legend settings</b></h4>
                            <p class="text-muted m-b-30 font-13">
                                Visibility of map markers and legend
                            </p>

                            <label data-role="none" class="labelconfiguracion">
                                <input id="potenciasaleatorias" data-role="none" type="checkbox" class="CheckBoxVerde" id="potenciasaleatorias" checked name="Categoria">Random charges
                            </label>
                            <label data-role="none" class="labelconfiguracion">
                                <input data-role="none" checked type="checkbox" class="CheckBoxVerde" id="Cat2CentroEventual" name="Categoria">See test pin
                            </label>


                            <label data-role="none" class="labelconfiguracion">
                                <input data-role="none" checked type="checkbox" class="CheckBoxVerde" id="Cat2CentroEventual" name="Categoria">View location pin
                            </label>


                            <label data-role="none" class="labelconfiguracion">
                                <input data-role="none" checked type="checkbox" class="CheckBoxVerde" id="Cat2CentroEventual" name="Categoria">See legend
                            </label>
                        </div>
                    </div>



                    <div class="col-sm-4">
                        <div class="card-box">
                            <h4 class="m-t-0 header-title"><b>Opacity and detail</b></h4>
                            <p class="text-muted m-b-30 font-13">
                                Detail and opacity configuration of the polygons
                            </p>
                            <div class="form-group">
                                <div class="range-slider">
                                    <span>Polygon interval<input id="range_01" type="text" class="js-range-slider" value="" /></span>
                                </div>
                                <div class="range-slider">
                                    <span>Opacity Edge<input id="range_02" type="text" class="js-range-slider" value="" /></span>
                                </div>


                                <div class="range-slider">
                                    <span>Opacity Filling<input id="range_03" type="text" class="js-range-slider" value="" /></span>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-sm-4">
                        <div class="card-box">
                            <h4 class="m-t-0 header-title"><b>Colors</b></h4>
                            <p class="text-muted m-b-30 font-13">
                                Here you can set the colors of the ellipses
                            </p>

                            <div class="form-group">
                                <label>Ellipse 1</label>
                                <input id="cpicker1" type="text" class="colorpicker-default form-control" value="#8fff00">
                            </div>

                            <div class="form-group">
                                <label>Ellipse 2</label>
                                <input id="cpicker2" type="text" class="colorpicker-default form-control" value="#8fff00">
                            </div>

                            <div class="form-group">
                                <label>Ellipse 3</label>
                                <input id="cpicker3" type="text" class="colorpicker-default form-control" value="#8fff00">
                            </div>
                        </div>
                    </div>

                </div>



            </div>


        </div> <!-- content -->

        <footer class="footer text-right">
            © 2018  Geolocation System for Electrical Substations..
        </footer>

    </div>


    <!-- ============================================================== -->
    <!-- End Right content here -->
    <!-- ============================================================== -->
    <!-- Right Sidebar -->
    <div class="side-bar right-bar nicescroll">
        <div class="contact-list nicescroll">
            <h4 class="text-center">Map / Plane</h4>
            <ul class="list-group contacts-list">

                <li class="list-group-item">
                    <a href="#">
                        <span class="name">Consumers</span>
                        <div id="switchconsumidores" class="switch">
                            <div class="handle"></div>
                        </div>
                    </a>
                    <span class="clearfix"></span>
                </li>

                <li class="list-group-item">
                    <a href="#">

                        <span class="name">Real Time</span>
                        <div id="switchtiemporeal" class="switch">
                            <div class="handle"></div>
                        </div>
                    </a>
                    <span class="clearfix"></span>
                </li>


                <li class="list-group-item">
                    <a href="#">

                        <span class="name">Global Projection</span>
                        <div id="switchglobal" class="switch">
                            <div class="handle"></div>
                        </div>
                    </a>
                    <span class="clearfix"></span>
                </li>

                <h4 id="sidebartexto" class="text-center">Current Projection</h4>

                <li class="list-group-item">
                    <a href="#">
                        <span class="name">Charges</span>
                        <div id="switchcarga" class="switch">
                            <div class="handle"></div>
                        </div>
                    </a>
                    <span class="clearfix"></span>
                </li>

                <li class="list-group-item">
                    <a href="#">
                        <span class="name">Eventual Centers</span>
                        <div id="switchcentroseventuales" class="switch">
                            <div class="handle"></div>
                        </div>
                    </a>
                    <span class="clearfix"></span>
                </li>

                <li class="list-group-item">
                    <a href="#">
                        <span class="name">Ellipses</span>
                        <div id="switchelipse" class="switch">
                            <div class="handle"></div>
                        </div>
                    </a>
                    <span class="clearfix"></span>
                </li>

                <h4 class="text-center">Global Projection</h4>

                <li class="list-group-item">
                    <a href="#">
                        <span class="name">Only charges</span>
                        <div id="switchcargaglobal" class="switch">
                            <div class="handle"></div>
                        </div>
                    </a>
                    <span class="clearfix"></span>
                </li>

                <li class="list-group-item">
                    <a href="#">
                        <span class="name">Only EC</span>
                        <div id="switchceglobal" class="switch">
                            <div class="handle"></div>
                        </div>
                    </a>
                    <span class="clearfix"></span>
                </li>

                <li class="list-group-item">
                    <a href="#">
                        <span class="name">Only Ellipse</span>
                        <div id="switchelipseglobal" class="switch">
                            <div class="handle"></div>
                        </div>
                    </a>
                    <span class="clearfix"></span>
                </li>

                <li class="list-group-item">
                    <a href="#">
                        <span class="name">View All</span>
                        <div id="switchtodo" class="switch">
                            <div class="handle"></div>
                        </div>
                    </a>
                    <span class="clearfix"></span>
                </li>

                <li class="list-group-item">
                    <a href="#">
                        <span class="name">Hide all</span>
                        <div id="switchocultartodo" class="switch">
                            <div class="handle"></div>
                        </div>
                    </a>
                    <span class="clearfix"></span>
                </li>

            </ul>

        </div>
    </div>
    <!-- /Right-bar -->

</div>
<!-- END wrapper -->
