<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
    <meta name="author" content="Coderthemes">

    <link rel="shortcut icon" href="assets/images/favicon_1.ico">

    <title>Glocse - Usuarios</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/core.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/components.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/icons.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/pages.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/responsive.css" rel="stylesheet" type="text/css" />
    

    <script src="~/Scripts/modernizr.min.js"></script>

</head>
<body>
         @RenderBody()
        <script>
            var resizefunc = [];
        </script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="~/Scripts/UsuariosEventos.js"></script>
       
        <script src="~/Scripts/jquery.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        <script src="~/Scripts/detect.js"></script>
        <script src="~/Scripts/fastclick.js"></script>
        <script src="~/Scripts/jquery.slimscroll.js"></script>
        <script src="~/Scripts/jquery.blockUI.js"></script>
        <script src="~/Scripts/waves.js"></script>
        <script src="~/Scripts/wow.min.js"></script>
        <script src="~/Scripts/jquery.nicescroll.js"></script>
        <script src="~/Scripts/jquery.scrollTo.min.js"></script>
        <script src="~/Scripts/jquery.core.js"></script>
        <script src="~/Scripts/jquery.app.js"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</body>
</html>
